<div class="rss-list background shadow marg-r-md">
  <div class="padd-sm">
    <h3 class="marg-b-sm l-fs-lg">{{ channelTitle || 'Channels' }}</h3>
    <div class="rss-list__input flx marg-b-sm">
      <input (keyup.enter)="addUserChannelToList()"
             [(ngModel)]="userInputUrl"
             class="padd-xs border-radius no-border shadow gray outline-accent flx-1"
             placeholder="Channel URL"
             spellcheck="false"
             type="text"/>
      <button (click)="addUserChannelToList()"
              class="rss-list__input-add border-radius no-border shadow pointer"
              title="Add new channel">+
      </button>
    </div>

    <div class="rss-list__filtering flx-v-cent">
      <label (change)="setFiltering()" class="pointer">
        <input (change)="filtering = !filtering"
               [checked]="filtering"
               type="checkbox"/>
        Filtering read
      </label>
    </div>

    <div *ngIf="rssList.length" class="rss-list__user">
      <p class="l-fs-md padd-sm">User</p>
      <ul class="list-unstyled no-marg padd-sm l-fs-xs">
        <li (click)="setCurrentChannel(channel)"
            *ngFor="let channel of rssList;"
            class="rss-list__item pointer flx-v-cent tran-easy-is relative">

          <div [ngClass]="{
               'l-bg-green': channel.updated,
               'l-bg-yellow': channel.updated === false,
               'l-bg-red': channel.updated === undefined}"
               class="rss-list__item-status marg-sm border-radius shadow"></div>
          <div class="rss-list__item-name l-fs-md">{{ channel.feed && channel.feed.title || channel.feed.url }}</div>

          <div class="rss-list__item-remove-wrapper" title="Delete">
            <button (click)="removeUserChannel($event, channel.feed.url)"
                    class="rss-list__item-remove absolute border-radius pointer">
              x
            </button>
          </div>
        </li>
      </ul>
    </div>

    <div *ngIf="rssListDefault.length" class="rss-list__default">
      <p class="l-fs-md padd-sm">Default</p>
      <ul class="list-unstyled no-marg padd-sm l-fs-xs">
        <li (click)="setCurrentChannel(channel)"
            *ngFor="let channel of rssListDefault;"
            class="rss-list__item pointer flx-v-cent tran-easy-is">
          <div [ngClass]="{
               'l-bg-green': channel.updated,
               'l-bg-yellow': channel.updated === false,
               'l-bg-red': channel.updated === undefined}"
               class="rss-list__item-status marg-sm border-radius shadow"></div>

          <div class="rss-list__item-name l-fs-md">{{ channel.feed && channel.feed.title || channel.feed.url }}</div>
        </li>
      </ul>
    </div>
  </div>
</div>
