.rss-list {
  overflow-x: hidden;
  width: 250px;
}

.rss-list__filtering {
  padding: 10px 20px;
}

.rss-list__item-status {
  height: 10px;
  min-width: 10px;
}

.rss-list__item:hover {
  background-color: var(--layout-bg-color);
}

:host ::ng-deep .rss-list__item-remove {
  height: 15px;
  width: 15px;
  border: none;
  padding: 0;
  right: 0;
  top: 8px;
  background-color: var(--red-color);
  color: white;
}

.rss-list__input-add {
  height: 40px;
  width: 40px;
  color: white;
  background-color: var(--accent-color);
}
