<div class="app flx-col flx-hv-cent">
  <app-header class="flx-col w-100"></app-header>
  <div class="rss-content-wrapper w-100">
    <div class="rss-content flx-h-cent flx-wrap padd-md">
      <app-rss-list class="sticky h-100"></app-rss-list>
      <app-rss-entry class="flx flx-1"></app-rss-entry>
    </div>
  </div>

</div>
