.rss-entry {
  min-width: 500px;
}

:host ::ng-deep .rss-entry__item-description img {
  width: 100%;
}

:host ::ng-deep .rss-entry__item-description a,
:host ::ng-deep .rss-entry__item-link {
  text-decoration: none;
  color: var(--accent-color);
}

:host ::ng-deep .rss-entry__item-description p {
  line-height: 1.5;
}
