<div *ngIf="channel" class="rss-entry">
  <ul class="no-padd no-marg list-unstyled">
    <ng-container *ngFor="let item of channel.items;">
      <li *ngIf="!filtering || !checkIsItemHidden(item)"
          class="rss-entry__item l-fs-md background shadow w-100 padd-md marg-b-md">
        <h3 [innerHTML]="item.title" class="rss-entry__item-title accent l-fs-lg"></h3>

        <div class="rss-entry__item-about flx">
          <span class="rss-entry__item-date l-fs-xs gray marg-r-sm">{{ item.pubDate }}</span>
          <a [href]="item.link" class="rss-entry__item-link l-fs-xs" target="_blank">Read more...</a>
        </div>

        <img *ngIf="item.enclosure.link"
             [alt]="item.title"
             [src]="item.enclosure.link"
             class="w-100 marg-t-md">

        <div [innerHTML]="item.description" class="rss-entry__item-description marg-t-md"></div>
        <button (click)="toggleItem(item)"
                class="shadow pointer accent-btn marg-t-md">{{ checkIsItemHidden(item) ? 'Show' : 'Hide' }}</button>
      </li>
    </ng-container>
  </ul>
</div>
