/*
    Define reusable classes here or redefine default browser styling
*/

.border {
  border: 1px solid var(--border-light);
}

.border-l {
  border-left: 1px solid var(--border-light);
}

.border-t {
  border-top: 1px solid var(--border-light);
}

.border-r {
  border-right: 1px solid var(--border-light);
}

.border-b {
  border-bottom: 1px solid var(--border-light);
}

.border-radius {
  border-radius: 2px;
}

.no-border {
  border: none !important;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.shadow {
  box-shadow: var(--primary-box-shadow);
}

.is-hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.background {
  background-color: var(--gray-lighter-2);
}

/* Sizing*/
.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}


/* Positioning*/
.sticky {
  position: sticky;
  top: 20px;
  z-index: 100;
}

.outline-accent {
  outline-color: var(--accent-color);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.flx {
  display: flex;
}

.flx-inl {
  display: inline-flex;
}

.flx-1 {
  flex: 1;
}

.flx-v-cent {
  display: flex;
  align-items: center;
}

.flx-h-cent {
  display: flex;
  justify-content: center;
}

.flx-hv-cent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-between {
  display: flex;
  justify-content: space-between;
}

.flx-around {
  display: flex;
  justify-content: space-around;
}

.flx-col {
  display: flex;
  flex-direction: column;
}

.flx-wrap {
  flex-wrap: wrap;
}

/* Lists*/
.list-unstyled {
  list-style-type: none;
}

.list-bull-sq {
  list-style-type: square;
}

.list-bull-crl {
  list-style-type: circle;
}

/* Layout text*/
.fw-b {
  font-weight: bold;
}

.accent {
  color: var(--accent-color);
}

.accent-btn {
  color: var(--accent-color);
  background: transparent;
  outline-color: var(--accent-color);
  padding: 5px 15px;
  border: 1px solid var(--accent-color);
  border-radius: 2px;
  transition: all ease-in-out .07s;
}

.accent-btn:hover {
  background-color: var(--accent-color);
  color: white;
}

.gray {
  color: var(--gray)
}

.ttu {
  text-transform: uppercase;
}

.l-fs-xxs {
  font-size: 0.73em;
}

.l-fs-xs {
  font-size: 0.85em;
}

.l-fs-sm {
  font-size: 1em;
}

.l-fs-md {
  font-size: 1.14em;
}

.l-fs-lg {
  font-size: 1.28em;
}

.l-fs-xl {
  font-size: 1.42em;
}

/* Layout blocks*/
.l-bg {
  background-color: var(--layout-entry-background);
}

.l-bg-gray {
  background-color: var(--gray);
}

.l-bg-gray-2 {
  background-color: var(--gray-lighter-2);
}

.l-bg-red {
  background-color: var(--red-color);
}

.l-bg-yellow {
  background-color: var(--yellow-color);
}

.l-bg-green {
  background-color: var(--green-color);
}

/* Links*/
.no-dec {
  text-decoration: none;
}

.no-dec:hover,
.no-dec:active,
.no-dec:focus {
  border: none;
  outline: transparent none;
}

:host ::ng-deep a {
  color: var(--primary-text-color);
}

:host ::ng-deep a:hover,
:host ::ng-deep a:active,
:host ::ng-deep a:focus,
:host ::ng-deep a:visited {
  border: none;
  outline: transparent none;
}

/* Paddings, margins*/
.no-padd {
  padding: 0;
}

.no-marg {
  margin: 0;
}

.padd-xs {
  padding: 5px;
}

.padd-sm {
  padding: 10px;
}

.padd-md {
  padding: 20px;
}

.padd-lg {
  padding: 30px;
}

.marg-xs {
  margin: 5px;
}

.marg-sm {
  margin: 10px;
}

.marg-md {
  margin: 20px;
}

.marg-lg {
  margin: 30px;
}

.padd-t-xs {
  padding-top: 5px;
}

.padd-t-sm {
  padding-top: 10px;
}

.padd-t-md {
  padding-top: 20px;
}

.padd-t-lg {
  padding-top: 30px;
}

.padd-b-xs {
  padding-bottom: 5px;
}

.padd-b-sm {
  padding-bottom: 10px;
}

.padd-b-md {
  padding-bottom: 20px;
}

.padd-b-lg {
  padding-bottom: 30px;
}

.marg-l-xs {
  margin-left: 5px;
}

.marg-l-sm {
  margin-left: 10px;
}

.marg-l-md {
  margin-left: 20px;
}

.marg-l-lg {
  margin-left: 30px;
}

.marg-r-xs {
  margin-right: 5px;
}

.marg-r-sm {
  margin-right: 10px;
}

.marg-r-md {
  margin-right: 20px;
}

.marg-r-lg {
  margin-right: 30px;
}

.marg-t-xs {
  margin-top: 5px;
}

.marg-t-sm {
  margin-top: 10px;
}

.marg-t-md {
  margin-top: 20px;
}

.marg-t-lg {
  margin-top: 30px;
}

.marg-b-xs {
  margin-bottom: 5px;
}

.marg-b-sm {
  margin-bottom: 10px;
}

.marg-b-md {
  margin-bottom: 20px;
}

.marg-b-lg {
  margin-bottom: 30px;
}

/* Transitions*/
.tran-back {
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
}

.tran-easy-is {
  transition: ease-in-out 0.1s;
}
