@media screen and (max-width: 830px) {
  .rss-content {
    padding: 0 !important;
  }

  .rss-list {
    width: 100% !important;
  }

  .rss-entry {
    min-width: 200px !important;
    width: 100% !important;
  }

  app-rss-list {
    position: initial !important;
    width: 100%;
    margin-bottom: 20px;
  }
}
