:root {
  --accent-color: #f5595e;
  --accent-color-pastel: #ffa3a7;
  --green-color: #07a23b;
  --yellow-color: #eeed4c;
  --red-color: #fb2c44;
  --border-light: #f0f0f0;
  --gray: #818181;
  --gray-2: #e2e2e2;
  --gray-lighter: #f8f8f8;
  --gray-lighter-2: #f9f9fb;
  --layout-bg-color: #f4f4f4;
  --primary-text-color: #212121;
  --layout-header-background: #ffffff;
  --layout-entry-background: #ffffff;
  --primary-box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}
