/* Global styles */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import "~element-angular/theme/index.css";
@import "_normalize.css";
@import "_variables.css";
@import "_defaults.css";
@import "_media.css";

body {
  background-color: var(--layout-bg-color);
  font-family: 'Roboto', "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

input[type=checkbox] {
  -webkit-appearance: none;
  background-color: var(--gray-lighter-2);
  border: 1px solid var(--gray-2);
  width: 15px;
  height: 15px;
  border-radius: 2px;
  outline-color: var(--accent-color);
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color-pastel);
}
